body {
  font-family: Arial;
  background: linear-gradient(120deg,#4e54c8,#8f94fb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box input {
  width: 94%;
  padding: 10px;
  margin: 9px 0;
}

.auth-box button {
  width: 101%;
  padding: 10px;
  background: #4e54c8;
  color: white;
  border: none;
  cursor: pointer;
}

.success { color: green; }
.danger { color: red; }
.info { color: blue; }

a {
  text-decoration: none;
  color: #4e54c8;
}
