{% extends "layouts/user_base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
<script src="{{ url_for('static', filename='js/shop.js') }}"></script>

<div class="shop-container">

    <div class="shop-header">
        <h2>Shop Products</h2>

        <select id="categoryFilter">
            <option value="">All Categories</option>
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="products-grid">
        {% for product in products %}
        <div class="product-card" data-category="{{ product.category_id }}">
            
            <div class="image-box">
                <img src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="">
            </div>

            <div class="product-info">
                <h4>{{ product.name }}</h4>
                <p class="price">₹ {{ product.price }}</p>
            </div>

            <button class="add-btn"
                    data-id="{{ product.id }}">
                <i class="fas fa-cart-plus"></i> 🛒Add to Cart 
            </button>

        </div>
        {% endfor %}
    </div>

</div>

<div id="toast" class="toast"></div>

{% endblock %}
